# meta
exp_name: faderNet_base #_tanh_noGAN_classif_first_2 #_classif_tanh
mode: train
cuda: true 
ngpu: 1

# data
dataset: material
data_root: /home/jdelanoy/rendering_materials/renders/renders_materials_manu
#data_root: /Users/delanoy/Documents/postdoc/project1_material_networks/dataset/renders_by_geom_ldr/
crop_size: 240
image_size: 128
gaussian_stddev: 0.5

# #### model (AttGAN)
# g_conv_dim: 64
# d_conv_dim: 64
# d_fc_dim: 1024
# max_conv_dim: 1024
# g_layers: 5
# d_layers: 5
# shortcut_layers: 3
# stu_kernel_size: 3
# use_stu: true
# one_more_conv: true
# #### model (FaderNet)
g_conv_dim: 32
d_conv_dim: 32
d_fc_dim: 512
max_conv_dim: 512
g_layers: 6
d_layers: 7
shortcut_layers: 0
stu_kernel_size: 0
use_stu: false
one_more_conv: false
attr_each_deconv: true
use_attr_diff: false
#other
attrs: [glossy]
checkpoint: ~

# # training (AttGAN)
# batch_size: 32
# beta1: 0.5
# beta2: 0.999
# g_lr: 0.0002
# d_lr: 0.00005
# n_critic: 5
# thres_int: 0.5
# lambda_adv : 1
# lambda_gp: 10
# lambda_d_att: 1000
# lambda_g_att: 10000
# lambda_g_rec: 100
# lambda_g_latent: 0
# training (FaderNet)
batch_size: 32
beta1: 0.9
beta2: 0.999
g_lr: 0.0002
d_lr: 0.00005
ld_lr: 0.00002
n_critic: 1
thres_int: 0.5
lambda_adv : 1
lambda_gp: 10
lambda_d_att: 1000
lambda_g_att: 10000
lambda_g_rec: 1
lambda_g_latent: 0.0001
lambda_ld: 0.01

max_iters: 100000
lr_decay_iters: 100000

# steps:
#33 iter per batch
summary_step: 50
sample_step: 500
checkpoint_step: 2500

#which part activate
use_latent_disc: true
use_image_disc: false
use_classifier_generator: false
use_l1_rec_loss: false
separate_C_D: false #TODO not implemented yet
#separate image disc from classifier

#improve: go only once through G, then update D, LD