# meta
exp_name: stgan_1000
mode: train
cuda: true
ngpu: 1

# data
dataset: material
data_root: /home/jdelanoy//rendering_materials/renders/renders_materials_manu/
#/Users/delanoy/Documents/postdoc/project1_material_networks/dataset/renders_by_geom_ldr/
crop_size: 240
image_size: 128
gaussian_stddev: 0.5

# model
g_conv_dim: 64
d_conv_dim: 64
d_fc_dim: 1024
g_layers: 5
d_layers: 5
shortcut_layers: 3
stu_kernel_size: 3
use_stu: true
one_more_conv: true
attrs: [glossy,metallic,rough]
checkpoint: 20000

# training
batch_size: 32
beta1: 0.5
beta2: 0.999
g_lr: 0.0002
d_lr: 0.0002
n_critic: 5
thres_int: 0.5
lambda_gp: 10
lambda_att: 1000
lambda_g_att: 10000
lambda_g_rec: 100
max_iters: 30000
lr_decay_iters: 11000

# steps:
#33 iter per batch
summary_step: 33
sample_step: 330
checkpoint_step: 500